doctype html
html(ng-app="meanStart")
    head
        meta(charset='utf8')
        base(href='/')
        title MEAN Start 2
        link(rel='stylesheet', href='/css/app.css')
    body
        block body
